body {
    background-color: #2b2b2b;
    color: #d0d0d0;
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: #8dfd79;
    text-decoration: none;
}

a:hover {
    color: #47bf3a;
}

header, footer {
    background-color: #3a3a3a;
    padding: 10px;
}

h1 {
    text-align: center;
    color: #78c552;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}

nav ul li {
    list-style: none;
}